.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 50px;
}

.logo img {
  width: 100px;
}

.companyInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 80px;
  width: 266px;
  height: 74px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.companyName,
.country {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.brandTag,
.countryTag {
  font-size: 8px;
  color: #949090;
}

.btnOpenChannels {
  font-weight: 500;
  text-align: start;
  cursor: pointer;
  width: fit-content;
}

.cardLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.barCharts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content4columns {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 20px;
}

.column4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.content3columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
  column-gap: 10px;
  padding-bottom: 10px;
}

.barChartBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.barBtn {
  font-size: 10px;
  color: #091937;
  padding: 2px 5px;
  border: 0.5px solid #091937;
  border-radius: 2px;
  cursor: pointer;
}

.barBtn:hover {
  background-color: #a9bad8;
}

.content {
  margin-top: 10px;
  margin-bottom: 50px;
}

.pieChartCard {
  width: 100%;
  background: #ffffff;
  box-shadow: 2px 2px 20px rgba(83, 91, 107, 0.1);
  border-radius: 10px;
}

.lineChartLayout {
  width: 100%;
  padding: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 20px rgba(83, 91, 107, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  display: grid;
}

.barChartLayout {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 20px rgba(83, 91, 107, 0.1);
  border-radius: 10px;
}
